@import "tailwindcss";


html,body{
  font-family: sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* ink: #ff90e8;
  --purple: #90a8ed;
  --green: #23a094;
  --orange: #ffc900;
  --red: #dc341e;
  --yellow: #f1f333;
  color: #efbedd;
   */
}